<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list> 
     <span  *ngFor="let word of historyWordList">
      <ion-item class="item-text-wrap">
        {{ word }} 
        <button ion-button outline item-end icon-center (click)="clear(word)">
          <ion-icon name="star"></ion-icon>
        </button>
      </ion-item>
      <ion-item  *ngFor="let mean of historyMeanList[word]"  >
        {{ mean }}
        <button ion-button outline item-end icon-center  (click)="clear(word,mean)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
    </span> 
    
</ion-list> 
</ion-content>
